/*****************************************************************************/
/* File: My.css
/* Author: hy
/* Date: 2014/01/06
/* Contact: hymeldon@gmail.com
/* Site: planetmiao.com
/*****************************************************************************/

body {
	width:100%;
	height:100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 142, 202, 0.22)), to(#f7f7f7));
    background: -moz-linear-gradient(top, rgb(211, 221, 238), #f7f7f7);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e3e3e3');*/
    background-color: #f7f7f7;
    background-repeat: no-repeat;
}

li {
	list-style-type: none;
}

a{
	text-decoration: none;
}

.clear {
	clear: both;
}

.site{
	width: 80%;
	max-width: 1170px;
	min-width: 42em;
}

.header {
	margin:0 auto;
}

.header .title a{
	font-size:45px;
	color:#7a3108;
}

.header .navbar {
	float:left;
	margin:1.5em 0 1em 0px;
}

.header .navbar ul{
	margin-left:-12px;
	list-style-type:none;
	list-style-position: outside;
}
.header .navbar li{
	display: inline;
}

.posts{
	margin-left:3px;
}

.posts li{
	background-color: rgba(255, 255, 255, 0.97);
	padding:1.5em;
	margin:1.5em 0 1.5em 0;
	border-radius:3px;
	box-shadow: rgba(133, 133, 133, 0.63) 1px 1px 5px;
}

.posts li a.title{
	text-decoration: none;
	color: rgba(25, 25, 25, 0.8);
}

.posts li a.title:hover{
	color: rgba(125, 0, 172, 0.95);
}

.posts .title{
	font:1.5em "Microsoft YaHei",Arial,consolas;;
}

.posts .date{
	float: right;
	margin-right: 1.5em;
	font-size:1em;
}

.posts li a.comment_count{
	text-decoration: none;
	font-size:1em;
	color:#aaa;
}

.posts li a.comment_count:hover{
	font-size:1em;
	color:#aaa;
}

.posts li a.more{
	float:right;
	margin-right:1.5em;
	text-decoration: none;
	color: #aaa;
	font-size:1em;
}

.posts li a.more:hover{
	color: #333;
}

.post{
	background-color: rgba(255, 255, 255, 0.97);
	padding:1.5em;
	margin:1.5em 0 1.5em 0;
	border-radius:3px;
	box-shadow: rgba(133, 133, 133, 0.63) 1px 1px 5px;
}

/*.site .post code{
	margin:10px auto;
	background-color: rgba(255, 255, 255, 0.97);
}*/

.post .post_info .title{
	font:1.5em "Microsoft YaHei",Arial,consolas;
}

.post .post_info .meta{
	margin-top:0.5em;
	font-size:0.95em;
}

.post .post_info .meta a{
	text-decoration: none;
	color:#aaa;
}

.post .post_info .meta a:hover{
	color:#555;
}

.post .content{
}

/* highlight */
.post pre {
  border: 1px solid #ddd;
  background-color: rgba(252, 252, 252, 0.8);
  padding: 0 .4em;
  margin: 1.2em auto;
}

.post code {
  border: 1px solid #ddd;
  background-color: rgba(252, 252, 252, 0.8);
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* --highlight-- */

.post ul{
	margin-left: 0;
}

.categories {
	padding-bottom: 3.5em;
}

.categories ul a.more{
	float:right;
	margin:0.8em 0.2em 0 0;
	text-decoration: none;
	font:0.9em consolas, arial;
	color:#aaa;
}

.categories ul a.more:hover{
	color:#333;
}

.categories li {
	
}

.ca_title{
	padding-bottom: 0.6em;
	margin-top: 1em;
	font-size: 2em;
	border-bottom: 0.1em solid #ddd;
}

.po_title{
	margin-top: 0.5em;
	margin-left: 0.2em;
	padding-bottom: 0.1em;
	border-bottom: 0.1em dashed #bbb;
}

.ca_title a, .po_title a{
	color: #000;
}

.po_title a:hover{
	color: #a0a;
}

.breadcrumb{
	color: #aaa;
	font: 0.9em consolas, arial;
}
.breadcrumb a{
	text-decoration: none;
	color: #aaa;
}
.breadcrumb a.active{
	color: #000;
}
.breadcrumb a:not(.active):hover{
	color: #000;
}

.highlight code {
	font-family: consolas, "Courier New", Courier, cursive;
}

