---
layout: default
---

<div class="post categories clear">
	<a style="color:#000;font:0.9em consolas, arial">Category</a>
	{% for category in site.categories %}
	<ul class="a_category">
		{% assign name = category.[0] %}
		<li class="ca_title"><a href="{{ site.baseurl }}/categories/{{ name }}">{{ name }}</a></li>

		{% for post in site.categories.[name] limit:3 %}
			<li class="po_title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
		<a class="more" href="{{ site.baseurl }}/categories/{{ name }}">More&gt;&gt;</a>
	</ul>
	{% endfor %}
	<ul class="a_category">
		<li class="ca_title"><a href="{{ site.baseurl }}/categories/none">None</a></li>
		{% for post in site.posts %}
		{% if post.categories == empty %}
		<li class="po_title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		{% endif %}
		{% endfor %}
		<a class="more" href="{{ site.baseurl }}/categories/none">More&gt;&gt;</a>
	</ul>
</div>